@import 'variables';
@import 'sections/header';
@import 'sections/about';
@import 'sections/works';
@import 'sections/contact';
@import 'sections/footer';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/background-image.jpeg);
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
}