.footer {
    clip-path: polygon(26% 0, 100% 43%, 100% 100%, 0 100%, 0 33%);
    background-color: rgba(0, 0, 0, .3);
    padding: 40px 0;

    @media (max-width: 767px) {
        padding-bottom: 20px;
    }

    &__text span {
        color: $purple-primary;
        text-shadow: 0 0 8px black;
    }
}